.block-wrapper .block-menu {
  font: 12pt arial;
  color: white;
  position: absolute;
  margin-top: 0;
  background-color: #333;
  padding: 8px;
  display: none;
}

.block-wrapper .block-menu a {
  color: lightblue;
  text-decoration: underline;
}

.block-wrapper.active { /*background-color: rgba(255, 255, 255, 0.4);*/
  /*
  opacity: 0.4;
  background: url('/img/overlay.png');
  background-color: white;
  */
  
}

.block-wrapper.active .block {
  z-index: 0;
  position: relative;
  background: url('/img/overlay.png');
  background-color: #888888;
  opacity: 0.3;
}

.block-wrapper.active .block-menu {
  display: block;
  opacity: 1;
  z-index: 10;
}