/* FILEVIEW */
.FileView {
  width: 120px;
  height: 120px;
  margin: 10px 10px 0px 0px;
  background-color: #ccc;
}

.FileView.selected {
  background-color: cyan;
}

.FileView [name=outer] {
  margin: 0;
  padding: 0;
}

.FileView [name=inner] {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
.FileView a[name=delete] {
  background-color: #333;
  color: lightblue;
  display: none;
  padding: 5px;
  position: absolute;
  /*margin-left: 10px;*/
}
.FileView a[name=delete].show {
  display: block;
}
*
/