body {
  background-color: #666;
  padding: 0;
  margin: 0;
  font-family: arial;
  color: white;
}

body, input, td, button, select {
  font-size: 30px;
}

h1 {
  margin: 0;
  padding: 0;
  font: 50px Georgia;
  color: #FFFF99;
}
h2 {
  margin: 20px 0 0 0;
  padding: 0;
  font: 40px Georgia;
  color: #CCCC66;
}
h3 {
  margin: 0;
  padding: 0;
  font: 35px Georgia;
  color: #BBB;
}

ul {
  padding 0 0 0 5px;
  margin: 0;
}

#header {
  padding: 10px;
  background-color: #333;
  color: white;
}

#menu {
  background-color: #777;
  color: white;
  padding: 10px;
}

a {
  color: lightblue;
}
a:hover {
  background-color: orange;
  color: navy;
}

#body {
  padding: 25px;
}

#message {
  padding: 10px;
  background-color: #99FF99;
  color: #333;
}

#error {
  padding: 10px;
  background-color: #FF6666;
  color: #333;
}

span.default-host {
  background-color: #999;
}